.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after { clear: both; }
.left{float: left}
.right{float: right}
.text-left{text-align: left}
.text-right{text-align: right}

header {
    position: absolute;
    top: 20px;
    padding: 20px 0;
    float: left;
    width: 100%;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.logo {
    float: left;
}

a {
    text-decoration: none;
}

nav{
    float: right;
    padding-top: 7px;
}

nav li {
    float: left;
    margin-right: 40px;
}

nav li:last-child {margin-right:0;}

nav a {
    text-transform: uppercase;
    font: 14px Arial, sans-serif;
    color: #fff;
}

nav a:hover {
    color: #fed136;
}

#home {
    padding-top: 270px;
    height: 700px;
    text-align: center;
    color: #fff;
    background: #222 url("../imgs/header/home.jpg") no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#home h3 {
    text-transform: capitalize;
    font: 40px/40px Arial, sans-serif;
    margin-bottom: 40px;
}

#home h1 {
    text-transform: uppercase;
    font: 75px/75px Arial, sans-serif;
    margin-bottom: 50px;
}

.btn {
    font: 24px/24px Arial, bold sans-serif;
    background-color: #fed136;
    color: #ffffff;
    padding: 22px 30px;
    display: inline-block;
    cursor: pointer;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.btn:hover {
    background: #e86a0c;
}

.box {
    padding: 120px 0 ;
}

#portfolio {
    background: #f7f7f7;
    text-align: center;
    overflow: hidden;
}

h2.title {
    font: bold 40px/40px Arial, sans-serif ;
    margin-bottom: 22px;
    text-transform: uppercase;
}

h5.title {
    margin-bottom:10px;
    font: bold 18px/18px Arial, sans-serif;
    color: #222;
}

.container > .descr{
    color: #777777;
    font: 20px/20px 'Times New Roman', sans-serif;
    margin-bottom: 80px;
}

.portfolio-item {
    float: left;
    width: 31%;
    margin-right:3.5%;
    background: #ffffff;
}

.portfolio-item:nth-child(3n){
    margin-right: 0;
}

.portfolio-item:nth-last-child(1),
.portfolio-item:nth-last-child(2),
.portfolio-item:nth-last-child(3) {
    margin-bottom: 0;
}

.p-item-footer > .item-title {
    font: 18px/18px Arial, sans-serif;
    font-weight: bolder;
    padding-bottom: 7px;
}

.portfolio-item span {
    color: #737373;
    font: 14px/14px 'Times New Roman', sans-serif;
}

.p-item-footer {
    padding: 30px 20px;
}

#about {
    text-align: center;
    padding: 120px 0;
}

.left-text {
    width: 317px;
    float: right;
}

.left-text > h3 {
    font: 18px/18px Arial bold;

}

.about-text {
    width: 35%;
}

.about-text h5 {
    line-height: 24px;
}

.about-text p {
    font-size: 16px;
    color: #777;
    line-height: 24px;
}


.about-img {
    width: 30%;
}

.about-img:after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: -5px;
    height: 94px;
    width: 3px;
    background: #f1f1f1;
}

.about-img img, .about-link {
    width: 176px;
    height: 176px;
    display: inline-block;
    border: solid #f1f1f1 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.about-link {
    padding-top: 25px;
    background: #fed136;
    text-transform: uppercase;
    font: bold 18px/30px Arial, sans-serif ;
    color: #ffffff;
    text-shadow: 0 1px rgba(0,0,0,.3);
}

#contacts {
    text-align: center;
    background: #f7f7f7;
}

.team-item img {
    margin-bottom: 12px;
    border: 7px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}

.social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../imgs/about/social-spite.png") no-repeat;
    margin-top: 10px;
    border: solid 3px #222;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.social .ic-tw {
    background-position:0 0;
}

.social .ic-fb {
    background-position:-40px 0 ;
}

.social .ic-tw:hover {
    border-color: #00aced;
    background-color: #00aced;
    background-position:0 -40px;
}

.social .ic-fb:hover {
    border-color: #3b5998;
    background-color: #3b5998;
    background-position:-40px -40px ;
}

#feedback {
    text-align: center;
    background: #222 url("../imgs/feedback/bg-map.png") no-repeat right bottom;
}

#feedback h2.title {color: #fff;}

.message .left, .message .right {
    width: 48%;
}

.message input,
.message textarea {
    background: #fff;
    margin-bottom: 30px;
    padding: 15px 20px;
    width: 100%;
    box-shadow: none;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.message input{
    height: 50px;
    border: 1px solid #ccc;
}

.message textarea {
    height: 230px;
    border: none;
    resize: none;
}

::-webkit-input-placeholder {
    font: bold 14px/14px Arial, sans-serif;
    text-transform: uppercase;
    color: #bbb;
}

::-moz-placeholder {
    font: bold 14px/14px Arial, sans-serif;
    text-transform: uppercase;
    color: #bbb;
}
label {
    font: 18px/18px Arial, sans-serif;
    color: #fff;
}


#scrollup {
    position: fixed; /* фиксированная позиция */
    opacity: 0.8; /* прозрачность */
    padding: 15px 10px 10px; /* отступы */
    background: #aaa;
    border-radius: 5px; /* скругление углов */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    left: 10px; /* отступ слева */
    top: 5%; /* отступ снизу */
    display: none; /* спрятать блок */
    cursor: pointer;
}
#scrollup img {
    width: 30px;
    height: 30px;
}